body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.oc{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color: orangered;
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}
.top-banner{
    border-left: 8px solid;
    border-image: linear-gradient(orangered, tomato);
    border-image-slice: 1;
    margin-left: 0px;
    margin-top: 50px;
    padding-left: 10px;
    border-width: 10px;
}
.dream-big{
    background-image: url(person/dream-bg.png);
    background-repeat: no-repeat;
    margin-top: 50px;
}
.center{
    text-align: center;
}
.experience-item{
    width: 23%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    text-align: center;
}
.experience-item img{
    width: 50%;
}
.silver-background{
    background-color: silver;
}
.gray-background{
    background-color: gray;
}
.greenyellow-background{
    background-color: greenyellow;
}
.global-community{
    background-image: url(person/exp-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 50px;

}
.footer{
    background-color: green;
    text-align: center;
}